<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="blog/partial/head :: appHead">
    <title id="pageTitle">blog</title>
</head>

<body>

<nav class="navbar navbar-default navbar-custom navbar-fixed-top"
     th:include="blog/partial/navigator">
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" th:include="blog/partial/header">
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div id="blog-detail"></div>
            </div>
        </div>
    </div>
</article>

<hr/>

<!-- Footer -->
<footer th:include="blog/partial/footer">
</footer>

<input type="hidden" name="blogId" th:value="${blogId}"/>
<script data-main="/js/mains/main-blog-detail" src="/vendor/requirejs/require.js"></script>

</body>
</html>
