<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="blog/partial/head :: appHead">
    <title id="pageTitle">Home</title>
</head>

<body>

<nav class="navbar navbar-default navbar-custom navbar-fixed-top"
     th:include="blog/partial/navigator">
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" th:include="blog/partial/header">
</header>

<!-- Main Content -->
<div id="blog-app" class="container">
    <div class="row">
        <div id="blog-list" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr/>

<!-- Footer -->
<footer th:include="blog/partial/footer">
</footer>

<script data-main="/js/mains/main-blog-index" src="/vendor/requirejs/require.js"></script>

</body>
</html>
