<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="blog/partial/head :: appHead">
    <title id="pageTitle">new blog</title>
</head>

<body>

<nav class="navbar navbar-default navbar-custom navbar-fixed-top"
     th:include="blog/partial/navigator">
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" th:include="blog/partial/header">
</header>

<div id="blog-new" class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <header class="post-creator-header">
                <input id="blog-title"
                       class="post-title-input"
                       type="text"
                       placeholder="输入文档标题"
                       maxlength="70"  autofocus="autofocus"/>
            </header>

            <textarea id="editor" placeholder="Hello"></textarea>

            <button class="btn btn-large btn-info" id="publish-btn">Save</button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:include="blog/partial/footer">
</footer>

<script data-main="/js/mains/main-blog-new" src="/vendor/requirejs/require.js"></script>

</body>
</html>