<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
        >

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>New blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Theme CSS -->
    <link href="../css/clean-blog.min.css" rel="stylesheet"/>

    <link href="../vendor/simditor/css/simditor.css" rel="stylesheet"/>

    <link href="../css/app.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="post.html">Sample Post</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Write Something</h2>

                <button class="btn btn-large btn-info" id="publish-btn">Save</button>
                <div class="clearfix"></div>
                <textarea id="editor" placeholder="Hello" autofocus="autofocus"></textarea>
            </div>
        </div>
    </div>

<script type="text/javascript" src="../vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="../vendor/simditor/js/module.js"></script>
<script type="text/javascript" src="../vendor/simditor/js/hotkeys.js"></script>
<script type="text/javascript" src="../vendor/simditor/js/uploader.js"></script>
<script type="text/javascript" src="../vendor/simditor/js/simditor.js"></script>

<script type="text/javascript">
    var editor = new Simditor({
        textarea: $('#editor'),
        toolbar: [
            'title',
            'bold',
            'italic',
            'underline',
            'color',
            'ol',
            'ul',
            'blockquote',
            'code',
            'table',
            'link',
            'image',
            'hr'
        ]
    });

    var $publishBtn = $('#publish-btn');
    $publishBtn.on('click', function () {
        var content = editor.getValue();
        console.log(content);
    });
</script>
</body>
</html>