<!DOCTYPE html>
<html data-framework="backbonejs">
<head>
    <meta charset="UTF-8"/>
    <title>Blog index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="css/app.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h2>Blog index</h2>

    <p>
        Please use api/blog/all to fetch all the blogs in the database
        through Ajax.
    </p>
    <section id="blogapp">
        <header id="header">
            <h1>new blog</h1>
            <input id="blog-title" placeholder="Title" autofocus="autofocus"/>
            <input id="blog-content" placeholder="Content"/>
            <button id="new-blog">new blog</button>
        </header>
        <section id="main">
            <ul id="blog-list"></ul>
        </section>
        <footer id="footer"></footer>
    </section>
</div>
<script data-main="js/main-blog-index" src="vendor/requirejs/require.js"></script>
</body>
</html>