body {
    font-family: Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", Roboto, "Heiti SC", "Microsoft Yahei", sans-serif;
}

.intro-header {
    position: relative;
    background-color: #333333;
    z-index: 1;
}

.intro-header:after {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background-image: url("../img/background.jpeg");
    z-index: -1;
    opacity: .2;
}

#publish-btn, #edit-btn {
    float: right;
    margin-top: 5px;
}

.post-title-input {
    width: 100%;
    font-size: 18px;
    height: 40px;
    line-height: 26px;
    text-align: center;
    border: none;
    outline: none;
}

.post-creator-header {
    position: relative;
    padding: 5px 0;
    margin: 0 20px 20px 20px;
    border-bottom: 1px solid #e0e0e0;
}